/*#home {
	background-color:yellow;
} */

body {
            /* Setting body margins to 0 to have proper positioning of #container div */
            margin: 0;
}
 
            /* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
            position: absolute;
            width: 100%;
            height: 100%;
}

.ui-page {
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 800;
}

.ui-mobile, .ui-mobile .ui-page, .ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page, .ui-mobile .ui-page-active {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

/*.slide.in {
	    -webkit-transform: translateX(0);
	    -webkit-animation-name: slideinfromright;
	}

	.slide.out {
	    -webkit-transform: translateX(-100%);
	    -webkit-animation-name: slideouttoleft;
	}

	@-webkit-keyframes slideinfromright {
	    from { -webkit-transform: translateX(100%); }
	    to { -webkit-transform: translateX(0); }
	}
	@-webkit-keyframes slideouttoleft {
	    from { -webkit-transform: translateX(0); }
	    to { -webkit-transform: translateX(-100%); }
	}
	
.slide.in.reverse {
		    -webkit-transform: translateX(0);
		    -webkit-animation-name: slideinfromleft;
		}

		.slide.out.reverse {
		    -webkit-transform: translateX(100%);
		    -webkit-animation-name: slideouttoright;
		}

		@-webkit-keyframes slideinfromleft {
		    from { -webkit-transform: translateX(-100%); }
		    to { -webkit-transform: translateX(0); }
		}

		@-webkit-keyframes slideouttoright {
		    from { -webkit-transform: translateX(0); }
		    to { -webkit-transform: translateX(100%); }
		}
*/		

/*
div.ui-header {
position:fixed;
z-index:10;
top:0;
width:100%;
padding: 13px 0;
height: 15px;
}

.ui-content {
padding-top: 57px;
padding-bottom: 54px;
overflow: auto;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.ui-footer {
position:fixed;
z-index:10;
bottom:0;
width:100%;
}
*/
/*.ui-mobile, .ui-mobile-viewport {
	background-color:yellow;
}

.ui-content {
	background-color:yellow;
} */

.view {
  padding: 35px;
  display: none;
}  


table { 
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  	box-shadow: 0 0 3px rgba(0,0,0,0.3);
        
}

tr {
	border-top: 1px solid;
}

tr:nth-child(odd) { background:yellow; }
tr:nth-child(even) { background:white; }

td {
	color:black;
	font: 18px Helvetica;
	padding: 10px 15px;
	margin: 0px 0px;
	text-align:left;
}

