.view {
  padding: 35px;
	/*  only one view is displayed at a time
	    so we'll set the views to default to be un-displayed
	    and then override this based on the element id */
  display: none;
}  

table { 
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  	box-shadow: 0 0 3px rgba(0,0,0,0.3);
        
}

tr {
	border-top: 1px solid darkgrey;
}

tr:nth-child(odd) { background:yellow; }
tr:nth-child(even) { background:white; }

td {
	color:black;
	font: 16px Helvetica;
	padding: 0px 15px;
	margin: 0px 0px;
	text-align:left;
}

