body {
  position:fixed;
  top:0px;
  background: #fff;
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(lightgrey), color-stop(0.47, white), to(lightgrey));
  margin: 0;
  font: 18px Helvetica;
  text-align: center;
}	

#title_bar {
  /* need a position set to something for z-index to take effect */
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 9999;
  background: #ccc;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(lightgrey), to(black));
  background: linear-gradient(white, lightblue 70%);
  color: red;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #999;
  height: 70px;
  line-height: 44px;
  padding: 0;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
 
}

#city_input {
  -webkit-border-radius: 20px;
  font-size: 20px;
  text-align: center;
  opacity:1.0;
  
}

.app_button, button {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 18%;
  background:#F7941E;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#F7941E), to(#D37F18));
  background: linear-gradient(#F7941E, #D37F18 70%);
  border: 1px solid #C97917;
  font-size: 18px;
  font-weight: 200;
  text-shadow: 0 -1px 0 #7E4B0D;
  height: 40px;
  line-height: 40px;
  color:#fff;
  text-align: center;
  opacity:1.0;
}

.row_button {
  width:auto;
  font: 10px Helvetica;
  padding: 0px;
  margin-bottom: 0px;
}  

#back_button {
  background: grey;
}
 
.view {
  padding: 35px;
	/*  only one view is displayed at a time
	    so we'll set the views to default to be un-displayed
	    and then override this based on the element id */
	display: none;
}
/* our three views */
#welcome {
  display: block; 
  overflow: scroll;
  padding-top: 100px;
}

#map { 
  text-shadow: 0 1px 0 #fff;
}

  .map_image {
    margin: auto;
    height: 250px;
    width: 250px;
    border: 1px solid #aaa;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
  }

#settings {
}

  legend {
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
  }

  fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align:left;
  }
  
  input {
    margin-bottom: 8px;
    align:left;
    opacity:1;
  }
  
  

#welcome_msg {color: darkred;}

#welcome_msg h1, h2 {
	font-weight: bold;
	font-size: 80px;
	-webkit-text-stroke-color: red;
	text-shadow: 0 5px 0 #fff;	
}

#welcome_msg h2 {font-size: 50px;}

#documents {
	color:darkblue;
	height:50%
	width:100%
	position:fixed;
	top:120px;
	overflow: hidden;
}

#docContent {
	position:absolute;
	top:120px;
	overflow: hidden;
	
}

#docContent h1 {
	color: darkblue;
	font-size: 20px;
	text-shadow: 0 0 10px lightgreen;
}

table { 
	margin-left: auto;
	margin-right: auto;
}

tr {
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

td {
	color:darkblue;
	font: 20px Helvetica;
	vertical-align:text-top;

	margin: 0px 15px;
	text-align:left;
}

